<div class="form-control">
  <div class="flex items-center justify-between py-2">
    <span><%= t('send_sms_invitation') %></span>
    <%= check_box_tag 'submission[1][submitters][][preferences][send_sms]', 'true', local_assigns[:checked] == true, class: 'toggle' %>
  </div>
</div>
